*{
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
hr {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}
body {
  background-color: #ededed;
}
header {
  margin: 20px 0 20px 30px;
}
.banner {
  background-color: #474747;
  font-size: 18px;
  color: #c6c6c6;
  padding: 20px 0 20px 30px;
  overflow: hidden;
}
.para {
  margin-top: 15px;
  width: 45%;
  float: left;
  font-family: 'Slabo 27px', serif;
}
.databox {
  background-color: #2f549b;
  float: right;
  overflow: hidden;
  width: 50%;
  padding: 30px 0;
  margin-right: 15px;
}
.data img {
  width: 68.3%;
}
.data li {
  width: 33.3%;
  float: left;
  font-family: 'Slabo 27px', serif;
}
.data li:first-child {
  width: 33.3%;
  margin-left: 20px;
}
.data li:last-child {
  color: #c6c6c6;
  font-size: 20px;
}
.data li:nth-child(2) {
  font-size: 36px;
  color: #fff;
}
.services ul {
  width: 94%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 3%;
}
.services li {
  width: 45%;
  float: left;
  margin: 8px;
  text-align: center;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 20px 0;
}
.services img {
  height: 90px;
  padding: 10px 0;
  width: 55%;
}
.services h2 {
  color: #2f549b;
}
.services p {
  width: 92%;
  margin: 0 auto;
  padding: 10px 0;
}
.services a {
  text-decoration: underline;
  color: #d5d5d5;
  margin-top: 20px;

}
.subpara {
  color: #2f549b;
  padding-bottom: 15px;
}
.services ul li:nth-child(2) {
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.services ul li:nth-child(3) {
  background-color: #2f549b;
}
.services ul li:nth-child(3) h2{
  color: #fff;
}
.services ul li:nth-child(3) a{
  color: #fff;
}
.services ul li:nth-child(3) p{
  color: #fff;
}
.tools {
  width: 96%;
  margin: 0 auto;
}
.toolsdiv {
  background-color: #c6c6c6;
}
.resource h2 {
  padding: 5px;
  background-color: #2f549b;
  color: #fff;
  text-align: center;
  width: 195px;
  margin: 0 auto;
  top: 30px;
  position: relative;
}
.tools ul {
  overflow: hidden;
  width: 94%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 25px 0;
}
.tools li {
  width: 33%;
  float: left;
  margin: 20px 0;
  height: 100px;
  padding-bottom: 10px;
}
.tools p {
  color: #8a8a8a;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.tools figure {
  margin-top: 5px;
  text-align: center;
  height: 50px;
}
.tools li:nth-child(5) {
  background-color: #2f549b;
}
.tools li:nth-child(5) p {
  color: #fff;
}
.footer {
  padding: 15px 0;
  background-color: #000;
  text-align: center;
  color: #C6C6C6;
  max-width: 100%;
}
/* PC View */

@media screen and (min-width: 760px) {
header div {
  margin: 0 auto;
  padding-left: 50px;
}
header img {
  width: 320px;
  height: 46px;
}
.banner_content {

}
.para {
  font-size: 26px;
}

.databox {
  position: absolute;
  right: 0%;
  top:76px;
}
.data img {
  margin-left: 32px;
  margin-top: 5px;
  width: 40%;
}
.data li:nth-child(2) {
  font-size: 60px;
  margin-top: 0;
}
.data li:nth-child(1) {
  width: 27%;
}
.data li:last-child {
  margin-top: 25px;
  font-size: 34px;
}
.services ul {
  padding-bottom: 0;
  padding-left: 3%;;
  margin: 0 auto;

}
.services li {
  width: 22%;
  margin: 1%;
}
hr {
  margin-bottom: 15px;
}
.tools figure {
  height: 60px;
}
.tools h2 {
  padding: 10px;
}
.tools ul {
  margin-top: 20px
  width : 100%;
}
.tools li {
  width: 15%;
  margin-left: 7px;
}
footer {
}
}
